In [17]:
import pandas as pd
data = pd.read_csv('pew.csv')
data

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

In [18]:
data = data.rename(columns={
    '<$10k': '10k',
    '$10-20k': '10-20k',
    '$20-30k': '20-30k',
    '$30-40k': '30-40k',
    '$40-50k': '40-50k',
    '$50-75k': '50-75k'
})
data

                   religion  10k  10-20k  20-30k  30-40k  40-50k  50-75k
0                  Agnostic   27      34      60      81      76     137
1                   Atheist   12      27      37      52      35      70
2                  Buddhist   27      21      30      34      33      58
3                  Catholic  418     617     732     670     638    1116
4         Dont know/refused   15      14      15      11      10      35
5         Evangelical Prot   575     869    1064     982     881    1486
6                    Hindu     1       9       7       9      11      34
7  Historically Black Prot   228     244     236     238     197     223
8         Jehovahs Witness    20      27      24      24      21      30
9                   Jewish    19      19      25      25      30      95

In [19]:
data['10-201k'] = data['10k'] + data['10-20k']
data

,religion,10k,10-20k,20-30k,30-40k,40-50k,50-75k,10-201k
0,Agnostic,27,34,60,81,76,137,61
1,Atheist,12,27,37,52,35,70,39
2,Buddhist,27,21,30,34,33,58,48
3,Catholic,418,617,732,670,638,1116,1035
4,Dont know/refused,15,14,15,11,10,35,29
5,Evangelical Prot,575,869,1064,982,881,1486,1444
6,Hindu,1,9,7,9,11,34,10
7,Historically Black Prot,228,244,236,238,197,223,472
8,Jehovahs Witness,20,27,24,24,21,30,47
9,Jewish,19,19,25,25,30,95,38

In [20]:
data = data[['religion','10-201k','20-30k','30-40k','40-50k','50-75k']]
data

                   religion  10-201k  20-30k  30-40k  40-50k  50-75k
0                  Agnostic       61      60      81      76     137
1                   Atheist       39      37      52      35      70
2                  Buddhist       48      30      34      33      58
3                  Catholic     1035     732     670     638    1116
4         Dont know/refused       29      15      11      10      35
5         Evangelical Prot      1444    1064     982     881    1486
6                    Hindu        10       7       9      11      34
7  Historically Black Prot       472     236     238     197     223
8         Jehovahs Witness        47      24      24      21      30
9                   Jewish        38      25      25      30      95

In [21]:
data = data.rename(columns={'10-201k': '10-20k'})
data

                   religion  10-20k  20-30k  30-40k  40-50k  50-75k
0                  Agnostic      61      60      81      76     137
1                   Atheist      39      37      52      35      70
2                  Buddhist      48      30      34      33      58
3                  Catholic    1035     732     670     638    1116
4         Dont know/refused      29      15      11      10      35
5         Evangelical Prot     1444    1064     982     881    1486
6                    Hindu       10       7       9      11      34
7  Historically Black Prot      472     236     238     197     223
8         Jehovahs Witness       47      24      24      21      30
9                   Jewish       38      25      25      30      95

In [22]:
data.index.name = 'data_id'
data

                         religion  10-20k  20-30k  30-40k  40-50k  50-75k
data_id
0                        Agnostic      61      60      81      76     137
1                         Atheist      39      37      52      35      70
2                        Buddhist      48      30      34      33      58
3                        Catholic    1035     732     670     638    1116
4               Dont know/refused      29      15      11      10      35
5               Evangelical Prot     1444    1064     982     881    1486
6                          Hindu       10       7       9      11      34
7        Historically Black Prot      472     236     238     197     223
8               Jehovahs Witness       47      24      24      21      30
9                         Jewish       38      25      25      30      95

In [27]:
df1 = pd.melt(data, id_vars = 'religion', value_vars = ['10-20k','20-30k','30-40k','40-50k','50-75k'],value_name = 'frequency', var_name = 'income_range')
df1

                    religion income_range  frequency
0                   Agnostic       10-20k         61
1                    Atheist       10-20k         39
2                   Buddhist       10-20k         48
3                   Catholic       10-20k       1035
4          Dont know/refused       10-20k         29
5          Evangelical Prot        10-20k       1444
6                     Hindu        10-20k         10
7   Historically Black Prot        10-20k        472
8          Jehovahs Witness        10-20k         47
9                    Jewish        10-20k         38
10                  Agnostic       20-30k         60
11                   Atheist       20-30k         37
12                  Buddhist       20-30k         30
13                  Catholic       20-30k        732
14         Dont know/refused       20-30k         15
15         Evangelical Prot        20-30k       1064
16                    Hindu        20-30k          7
17  Historically Black Prot        20-30k        236
18         Jehovahs Witness        20-30k         24
19                   Jewish        20-30k         25
20                  Agnostic       30-40k         81
21                   Atheist       30-40k         52
22                  Buddhist       30-40k         34
23                  Catholic       30-40k        670
24         Dont know/refused       30-40k         11
25         Evangelical Prot        30-40k        982
26                    Hindu        30-40k          9
27  Historically Black Prot        30-40k        238
28         Jehovahs Witness        30-40k         24
29                   Jewish        30-40k         25
30                  Agnostic       40-50k         76
31                   Atheist       40-50k         35
32                  Buddhist       40-50k         33
33                  Catholic       40-50k        638
34         Dont know/refused       40-50k         10
35         Evangelical Prot        40-50k        881
36                    Hindu        40-50k         11
37  Historically Black Prot        40-50k        197
38         Jehovahs Witness        40-50k         21
39                   Jewish        40-50k         30
40                  Agnostic       50-75k        137
41                   Atheist       50-75k         70
42                  Buddhist       50-75k         58
43                  Catholic       50-75k       1116
44         Dont know/refused       50-75k         35
45         Evangelical Prot        50-75k       1486
46                    Hindu        50-75k         34
47  Historically Black Prot        50-75k        223
48         Jehovahs Witness        50-75k         30
49                   Jewish        50-75k         95

In [28]:
df1.dtypes

religion        object
income_range    object
frequency        int64
dtype: object